# Show all if ambigious.
set show-all-if-ambiguous on

# --- Home key
"\e[7~": beginning-of-line
# --- End key
"\e[8~": end-of-line
# --- Ctrl-Left
"\eOd": backward-word
# --- Ctrl-Right
"\eOc": forward-word
# --- Delete key
"\e[3~": delete-char


### These are for mintty (http://code.google.com/p/mintty/wiki/Tips):

# Ctrl+Left/Right to move by whole words
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# Ctrl+Backspace/Delete to delete whole words
"\e[3;5~": kill-word
"\C-_": backward-kill-word

# Ctrl+Shift+Backspace/Delete to delete to start/end of the line
"\e[3;6~": kill-line
"\xC2\x9F": backward-kill-line  # for UTF-8
#"\x9F": backward-kill-line     # for ISO-8859-x
#"\e\C-_": backward-kill-line   # for any other charset

# Ctrl+Up/Down for searching command history
"\e[1;5A": history-search-backward
"\e[1;5B": history-search-forward
